@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid home_page">
    <h1>School Management System</h1>
    <p>Welcome to our School Management System, where efficiency meets education! Seamlessly managing student, teacher, and subject data, our system ensures smooth operations, fostering an environment conducive to learning and growth.</p>

</div>
